.indexSwiper.swiper {
  width: 100%;
  height: 100%;
}

.indexSwiper.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexSwiper.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shopSwiper.swiper {
  width: 100%;
  height: 100%;
  background-color: #f9fbe6;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.shopSwiper.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopSwiper.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10vw;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10vw;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: 90%;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #707070;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #dae24a;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 8px;
}
