.section-siteMap-content {
  background-color: #f9fbe6;
}
.section-siteMap-main {
  width: 64.322916%;
  margin: auto;
  padding-bottom: 80px;
}
.siteMap-item {
  width: 20%;
  h2 {
    font-size: 1.658031vw; //32
    margin-bottom: 1em;
    color: #fff;
    cursor: pointer;
    @extend .normal-font-style500;
    padding: 12px 28px;
    border-radius: 50px;
    width: fit-content;
    background: linear-gradient(
      0deg,
      rgba(218, 226, 74, 1) 45%,
      rgba(171, 205, 3, 1) 100%
    );
  }
  > ul {
    > li {
      text-indent: 2em;
      & + li {
        margin-top: 1em;
      }
      > a {
        text-decoration: none;
        font-size: 20px;
        @extend .normal-font-style500;
        color: #000;
      }
      > ul {
        > li {
          margin-top: 1em;
          text-indent: 2em;
          > a {
            text-decoration: none;
            font-size: 18px;
            @extend .normal-font-style400;
            color: #000;
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .section-siteMap-main {
    width: 83%;
    margin: auto;
    padding: 48px 0;
  }
  .siteMap-item {
    width: 100%;
    & + .siteMap-item {
      margin-top: 64px;
    }
    h2 {
      font-size: 22px;
      padding: 8px 20px;
      margin: auto;
      margin-bottom: 1em;
    }
    > ul {
      text-align: center;
      > li {
        text-indent: 0em;
        & + li {
          margin-top: 1em;
        }
        > a {
          font-size: 20px;
        }
        > ul {
          > li {
            margin-top: 1em;
            text-indent: 0em;
            > a {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
